.app-container {
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", Arial, sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


