/* PCF Control Styles */
.PASDetailsPCF {
    font-family: "Segoe UI", Arial, sans-serif;
    width: 100%;
    height: 100%;
}

.PASDetailsPCF .container {
    padding: 10px;
    box-sizing: border-box;
}


